<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Odoo integration with Git</h2>
        <h3 class="oe_slogan">Integrate your development directly with Odoo Project management</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="project_git_sc_01.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Track code changes with your tasks</h2>
        <h3 class="oe_slogan">Have a better traceability over changes made for a specific task</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="project_git_sc_03.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            Commit message making reference to a task get append to the internal message thread. Allowing you to keep track of every commit referencing the task. Providing you with a history of changes made by developers.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Get notified of changes</h2>
        <h3 class="oe_slogan">Follow a task to get informed of code changes</h3>
        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            People may choose to follow a task to receive notifications when developers are making modification to the code directly. 
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="project_git_sc_05.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Working with Github and Gitlab</h2>
        <h3 class="oe_slogan">Easy to integrate with Github, Gitlab and other git repositories providing web hook</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="project_git_sc_06.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 oe_mb32 text-justify">
            In Gitlab you simply need to add a new web hook in the "System Hooks" configuration. 
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>